@font-face{
    font-family: 'Comforter Brush';
    src: url("../fonts/Comforter_Brush/AnyConv.com__ComforterBrush-Regular.woff"), 
    url("../fonts/Comforter_Brush/AnyConv.com__ComforterBrush-Regular.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family:'Bona Nova';
    src: url(../fonts/Bona-Nova/AnyConv.com__BonaNova-Regular.woff),
    url(../fonts/Bona-Nova/AnyConv.com__BonaNova-Regular.woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
   
@font-face{
    font-family:'Bona Nova';
    src: url(../fonts/Bona-Nova/AnyConv.com__BonaNova-Regular.woff),
    url(../fonts/Bona-Nova/AnyConv.com__BonaNova-Regular.woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}  
@font-face{
    font-family:'Bona Nova';
    src: url(../fonts/Bona-Nova/AnyConv.com__BonaNova-Italic.woff),
    url(../fonts/Bona-Nova/AnyConv.com__BonaNova-Italic.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family:'Bona Nova';
    src: url(../fonts/Bona-Nova/AnyConv.com__BonaNova-Bold.woff),
    url(../fonts/Bona-Nova/AnyConv.com__BonaNova-Bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family:'Roboto';
    src: url(../fonts/Roboto/AnyConv.com__Roboto-Black.woff),
    url(../fonts/Roboto/AnyConv.com__Roboto-Black.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family:'Roboto';
    src: url(../fonts/Roboto/AnyConv.com__Roboto-Bold.woff),
    url(../fonts/Roboto/AnyConv.com__Roboto-Bold.woff2);
    font-weight: 700;
    font-style:normal;
    font-display: swap;
}
@font-face{
    font-family:'Roboto';
    src: url(../fonts/Roboto/AnyConv.com__Roboto-Medium.woff),
    url(../fonts/Roboto/AnyConv.com__Roboto-Medium.woff2);
    font-weight: 500;
    font-style:normal;
    font-display: swap;
}
@font-face{
    font-family:'Roboto';
    src: url(../fonts/Roboto/AnyConv.com__Roboto-MediumItalic.woff),
    url(../fonts/Roboto/AnyConv.com__Roboto-MediumItalic.woff2);
    font-weight: 500;
    font-style:normal;
    font-display: swap;
} 
@font-face{
    font-family:'Roboto';
    src: url(../fonts/Roboto/AnyConv.com__Roboto-Regular.woff),
    url(../fonts/Roboto/AnyConv.com__Roboto-Regular.woff2);
    font-weight: 400;
    font-style:normal;
    font-display: swap;
}
   





