.slick-initialized .slick-slide{
    display: flex;
}

.slick-prev{
    position: absolute;
    top: 50%;
    z-index: 999;
    left: 0;
}
.slick-next{
    position: absolute;
    top: 50%;
    z-index: 999;
    right: 30px;
}
.slick-next::before{
    font-size: 50px;
}
.slick-prev::before{
    font-size: 50px;
}
#is-service-frame{
    display: none;
}
%imgBanner-hover{
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.75));
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
%headerBanner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center bottom;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
  
    &::after{
        @extend %imgBanner-hover
    };
}
%gallery-btn{
             position: absolute;
            text-align: center;        
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1000;
            font-family: 'Roboto';
            font-size: .9rem;
            font-weight: 700;
            cursor: pointer;
            background: transparent;
            border: 1px solid;
            letter-spacing: .15em;
            transition: all .35s ease-in-out;
            z-index: 500;
}
%btn-hover{
    background: #0e9bac;
    border-color: #0e9bac;
    color: #f2f0e7;
}
body{
    background: #f2f0e7;
    font-family: "Bona Nova";
    overflow-x: hidden;
}
img{
    height: auto;
    width: 100%;
}
p{
    line-height: 1.5;
}
.col-50{
    width: 50%;
    height: auto;
}
.btn{
    padding: 11px 40px 7px;
    background: transparent;
    border: 1px solid;
    display: inline-block;
    font-family: 'Roboto',serif;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .15em;
    line-height: 1;
    outline: none;
    text-transform: uppercase;
    transition: all .35s ease-in-out;
    width: auto;
    cursor: pointer;
}
.btn-white{
    border-color: #f2f0e7;
    color: #f2f0e7;
}
.btn-dark{
    border-color: #141c1f;
    color: #141c1f;
}

.blue-text{
    color: #0e9bac;
    letter-spacing: .08em;
    text-transform: uppercase;
    font-family: 'Roboto',serif;
}
.global-title-h2{
    font-family: Roboto,serif;
    font-size: 1.6rem;
    letter-spacing: .08em;
    text-transform: uppercase;
    font-weight: 400;
}
.global-image-title-h1{
    font-family: 'Roboto', sans-serif;
    color: #f2f0e7;
    font-weight: normal;
}
.global-text-p{
    font-size: 1rem;
    letter-spacing: .08em;
    text-transform: uppercase;
}
.expert-name{
    color: #f2f0e7;
    font-family: 'Roboto',serif;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: .08em;
    text-transform: uppercase;
}
.expert-profession{
    color: #f2f0e7;
    font-size: 12px;
    font-size: 1.2rem;
    font-style: italic;
}
.expert-speciatiles{
    font-family: 'Roboto',serif;
    font-size: 9px;
    font-size: .9rem;
    letter-spacing: .08em;
    text-transform: uppercase;
}
.expert-speciatiles-text{
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 30px;
}


.team-title{
    color: #f2f0e7;
    font-family: 'Roboto',serif;
    font-size: 1.8rem;
}

