.slick-prev{
    z-index: 50;
}
.slick-next{
    z-index: 50;
}
.imgBannerJerahTravel{
    display: flex;
    justify-content: center;
    .imgBanner-content{
  
        color: #f2f2f2;
        margin: 0 auto;
        .jerah-title{
            font-family: 'Roboto';
            margin-bottom: 20px;
            span{
                letter-spacing: .1em;
                text-transform: uppercase;
            }
            h1{
                font-size: 2rem;
                line-height: 1.5;
                margin: 10px 0 10px 0;
            }
            p{
                font-family: 'Bona Nova';
                font-style: italic;
            }
        }
        .jerah-info{
            line-height: 1.5;
        }
    }
}

.region-experience{
    background: url(../img/canvas-bg-light.jpg);
    padding: 30px 0;
    display: flex;
    justify-content: center;
    .row{
        .col-50{
           
            &:nth-child(1){
                img{
                    max-width: 450px;
                }
            }
        }
        .jerah-location-content{
            h3{
                font-family: 'Comforter Brush';
                font-size: 2rem;
                margin-bottom: 10px;
            }
            h4{
                letter-spacing: .08em;
                font-size: 1.4rem;
                text-transform: uppercase;
                font-weight: 400;
                margin: 20px 0;
            }
            ul{
                margin: 0 0 30px 40px;
                li{
                    font-size: 1.3rem;
                    margin: 15px 0;
                    &::before{
                        content: "-";
                        left: -5px;
                        position: relative;
                    }
                }
            }
        }
    }
}
.jerah-inspiration-title{
    margin: 60px 0;
    text-align: center;
    p{
        margin: 0 auto;
        max-width: 970px;
        line-height: 1.5;
        font-weight: 400;
        font-family: 'Roboto';
    }
}
.line-title{
    margin: 100px 0;
    position: relative;
    text-align: center;
    width: 100%;
    &::before{
        left: 0;
        border: 1px solid #8b8883;
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 90%;
    }
    &::after{
        right: 0;
        border: 1px solid #8b8883;
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 90%;
    }
    h2{
        font-family: 'Roboto';
        background: #fff;
        letter-spacing: .08em;
        margin: 0 auto;
        position: relative;
        text-transform: uppercase;
        font-weight: 400;
        top: 3px;
        width: 100px;
        z-index: 500;
    }
    .line-title-h2{
        width: 120px;
    }
}
.header-title{
    font-weight: 400;
    font-family: 'Roboto';
}
.row-big{
    max-width: 1200px;
}
.solo-p{
    margin: 0 auto;
    font-weight: 400;
    font-family: 'Roboto';
    text-align: center;
    margin-bottom: 30px;
    max-width: 1000px;
}
.jerah-travel-content {
    padding: 0 20px;
    margin: 0 auto;
    font-weight: 400;
    font-family: 'Roboto';
    .jerah-travel-title{
        font-size: 1.5rem;
        margin-bottom: 20px;
        text-align: center;
    }
    p{
        text-align: center;
        margin-bottom: 30px;
    }
    .image-div{
        margin: 0 auto;
        position: relative;
        margin-bottom: 30px;
        &::after{
            @extend %imgBanner-hover
        }
    }
    .jerah-travel-content-row{
        .col-50{
            margin-top: 20px;
        }
    }
 
}
.sleep-hungry{
    text-align: center;
    .brandon{
        display: inline-block;
        font-size: 7px;
        font-size: .8rem;
        text-align: center;

    }
    .sleep{
        &::before{
            content: "";
            height: 45px;
            width: 45px;
            text-align: center;
            background: url('../img/sleep.png')no-repeat;
        }
    }
    .dining{
        &::before{
            content: "";
            height: 50px;
            width: 45px;
            text-align: center;
            background: url('../img/hungry.png')no-repeat;
        }
    }
}

.jerah-gallery-slider-parent{
    margin-bottom: 30px;
    .jerah-gallery-slider{
        background: no-repeat;
        background-position: 50%;
        background-size: cover;
        background-image: url(../img/Armhi-hotel.jpg);
        height: 500px; 
        overflow: hidden;
        position: relative;
        .gallery-btn{
            @extend %gallery-btn;
            &:hover{
                @extend %btn-hover
            }
        }
        &::after{
            @extend %imgBanner-hover;
        }
    }
}



    #mago{
        background: url(../img/mago-gallery-slide.jpg)no-repeat;
        background-position: 50%;
        background-size: cover;
    }
    #targim{
        background: url(../img/targim.jpg)no-repeat;
        background-position: 50%;
        background-size: cover;
    }
    #agical{
        background: url(../img/agical.jpg)no-repeat;
        background-position: 50%;
        background-size: cover;
    }
    #jerah{
        background: url(../img/jerah-slide-bi.jpg)no-repeat;
        background-position: 50%;
        background-size: cover;
    }
    .slider-box{
        display: none;
        position: absolute;
        z-index: 999;
        width: 100%;
        max-width: 650px;
        left: 50%;
        top: 40%;
        transform: translate(-50%);
        .img-box{
            background: #8b8883;
            height: 445px;
            
        }
    }

   


.image-view{
    display: none;
    z-index: 901;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}
