@media(min-width:250px){
    .mobile-burger{
        display: block;
    }
 .sidebar{
    display: flex;
    background: #141C1F;
    height: 70px;
    width: 100%;
    z-index: 2000;
    transition: all .5s;
 }

    .global-image-title-h1{
        margin-bottom: 15px;
    }
    .adres{
        .col-50{
            width: 100%;
        }
     

    }
    .input-50{
        width: 100%;
    }
    .profile-content{
        padding:20px;
    }
    .destination-content{
        h3{
            font-family:'Comforter Brush';
            font-weight: 400;
            font-size: 2rem;
            line-height: 1.4;
        }
    }
    .region-experience{
        .row{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            .col-50{
                width: 100%;
                &:nth-child(1){
                    text-align: center;
                }
            }
        }
  
    }    
    .jerah-gallery-slider{
      
        .gallery-btn{
            padding: 11px 25px 7px;
        }
      
    }
    .sleep-hungry{
        .sleep{
            margin: 0;
            &::before{
                display: inline-block;
                left: -5px;
                margin: 0 5px 0 0;
                position: relative;
                top: 20px;
            }
        }
        .dining{
            margin: 0;
            &::before{
                display: inline-block;
                margin: 0 5px 0 0;
                position: relative;
                top: 15px;
        
            }
        }
        .brandon{
            font-size: 8px;
            font-size: .8rem;
            letter-spacing: .1em;
            margin: 30px 0 40px;
            padding: 0 10px;
            text-align: left;
            text-transform: uppercase;
            width: auto;
        }
    }
    .jerah-travel-content-row{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        .col-50{
            width: 100%;
        }
    }
    .jerah-travel-content{
        .image-div{
            width: 100%;
        }
    }
    .col-row{
        .col-50{
            width: 100%;
        }
    }
    .col-parent{
        .col-50{
            width: 100%;
            &:nth-child(1){
                padding: 60px 0;
            }
        }
     
    }
    .header-maps{
        .header-map {
            width:auto;
            margin-bottom: 25px;
        }

    }
}
@media (min-width: 500px){
  
    .header-maps{
        .header-map{
            width: 35%; 
            &:nth-child(3){
                margin-top: 70px;
            }
        }
    }
 
    .sleep-hungry{
        .sleep{
            margin-right: 30px;
        }
        .dining{
            margin-left: 30px;
        }
  
    }
    .jerah-gallery-slider{
   
        .gallery-btn{
            padding: 11px 40px 7px;
        }
    
    }
    .experts-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:600px){
    .expert-slider{
        .col-50{
            flex-direction: column;
            .expert-photo{
                width: 100%;
                margin-bottom: 20px;
            }
            .expert-content{
                width: 100%;
                padding: 100px;
                text-align: center;
                h2{
                    font-size: 1.5rem;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 1.3rem;
                    margin-bottom: 20px;
                }
                a{
                    font-size: 1.2rem;
                }
            }
        }
    }
}


@media(min-width:782px){
    p{
        font-size: 1.3rem;
    }
    .destination-image{
        width: 300px
    }
    .header-maps{
        .header-map{
            padding: 20px;
            width: 15%;
            &:nth-child(3){
                margin-top:0;
            }
        }
    }
    .team-content{
        width: 600px;
    }
    .about-container{
        max-width: 750px;
    }
    .imgBannerJerahTravel{
        .imgBanner-content{
            padding: 20px 0;
            width: 600px;
        }
    }
    .region-experience{
        .row{
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
    .jerah-travel-content{
        max-width: 750px;
        .image-div{
            max-width: 720px;
        }
    
    }
    
    .jerah-gallery-slider{
        height: auto;
        padding-bottom: 45%;
    }
    .contact-container{
        max-width: 720px;
        margin: 0 auto;
        .input-50{
            width: 50%;
        }
        .input-row{
            display: flex;
        }
    }
    .experts-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 992px){
    .mobile-burger{
        display: none;
    }
    .site-header{
        background: #141C1F;
        height: 70px;
        left: 0;
        padding: 6px 0;
        position: fixed;
        top: 0;
        transform: translateY(0);
        width: 100%;
        z-index: 2000;
    }
    .adres{
        .col-50{
            width: 50%;
        }
        display: flex;
    }
    .imgBanner{
        background-attachment: fixed;
    }
    .destination-image{
        width: 400px;
    }
    .team-content{
        width: 700px;
    }
    .about-container{
        max-width: 1000px;
    }
    .imgBannerJerahTravel{
        .imgBanner-content{
            padding: 20px 0;
            width: 800px;
        }
    }
    .jerah-travel-content{
        max-width: 1000px
    }
    .jerah-travel-content-row{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        
        .col-50{
            padding: 0 15px;
        }
    }
    .jerah-travel-content{
        .image-div{
            max-width:455px;
        }
    }
    .destination-col-parent{
        display: flex;
        .col-50{
            width: 50%;
            height: 500px;
            &:hover{
                .destination-text-2{
                    opacity: 1;
                    transform: translateY(0);
                }
                .destination-btn .btn{
                    opacity: 1;
                    transform: translateY(0);
                    transition-delay: .2s;
                }
            } 
            .destination-text-2{
                    opacity: 0;
                    padding: 0 40px;
                    transform: translateY(200%);
                    transition: all .55s ease-in-out;
            }
            .destination-btn .btn{
                    opacity: 0;
                    transform: translateY(350%);
                    transition: all .55s ease-in-out;
            }
          
        }
    }
    .destination-content{
        &.left{
            width: 700px;
            left: 50%;
            margin-left: -350px;
        }
    }
    .col-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
   .col-parent{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 auto;
    margin-bottom: 60px;
    .col-50{
        width: 50%;
        &:nth-child(1){
            padding:0px;
        }
    }
}
.experts-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.contact-container{
    max-width: 1000px;
}

}
@media (min-width: 1200px){
  .about-container{
    max-width: 750px;
  }
  .jerah-travel-content{
    .image-div{
        max-width:545px;
    }
}
.profile-content{
    padding: 40px 100px;
}
}
