html, body, div, span, .let, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slick-initialized .slick-slide {
  display: flex;
}

.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 999;
  left: 0;
}

.slick-next {
  position: absolute;
  top: 50%;
  z-index: 999;
  right: 30px;
}

.slick-next::before {
  font-size: 50px;
}

.slick-prev::before {
  font-size: 50px;
}

#is-service-frame {
  display: none;
}

.imgBannerExperts::after, .jerah-gallery-slider-parent .jerah-gallery-slider::after, .jerah-travel-content .image-div::after, .destination-col-parent .col-50 .destination-jerah-bi::after, .col-100 .destination-jerah-bi::after, .imgBannerDestination::after, .imgBannerJerahTravel::after, .imgBannerWhy::after, .imgBannerAbout::after, .expert-photo .expert-link-image::after, .jerah-destination-image .image-link::after, .jerah-destination-image-content::after, .imgBanner::after {
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.75));
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.jerah-gallery-slider-parent .jerah-gallery-slider .gallery-btn {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  background: transparent;
  border: 1px solid;
  letter-spacing: 0.15em;
  transition: all 0.35s ease-in-out;
  z-index: 500;
}

.jerah-gallery-slider-parent .jerah-gallery-slider .gallery-btn:hover, .btn:hover {
  background: #0e9bac;
  border-color: #0e9bac;
  color: #f2f0e7;
}

body {
  background: #f2f0e7;
  font-family: "Bona Nova";
  overflow-x: hidden;
}

img {
  height: auto;
  width: 100%;
}

p {
  line-height: 1.5;
}

footer .nav {
  flex-wrap: wrap;
}

.col-50 {
  width: 50%;
  height: auto;
}

.btn {
  padding: 11px 40px 7px;
  background: transparent;
  border: 1px solid;
  display: inline-block;
  font-family: "Roboto", serif;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 1;
  outline: none;
  text-transform: uppercase;
  transition: all 0.35s ease-in-out;
  width: auto;
  cursor: pointer;
}

.btn-white {
  border-color: #f2f0e7;
  color: #f2f0e7;
}

.btn-dark {
  border-color: #141c1f;
  color: #141c1f;
}

.blue-text {
  color: #0e9bac;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-family: "Roboto", serif;
}

.global-title-h2 {
  font-family: Roboto, serif;
  font-size: 1.6rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-weight: 400;
}

.global-image-title-h1 {
  font-family: "Roboto", sans-serif;
  color: #f2f0e7;
  font-weight: normal;
}

.global-text-p {
  font-size: 1rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.expert-name {
  color: #f2f0e7;
  font-family: "Roboto", serif;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.expert-profession {
  color: #f2f0e7;
  font-size: 12px;
  font-size: 1.2rem;
  font-style: italic;
}

.expert-speciatiles {
  font-family: "Roboto", serif;
  font-size: 9px;
  font-size: 0.9rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.expert-speciatiles-text {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.2;
  margin-bottom: 30px;
}

.team-block {
  padding: 0 15px;
}

.team-title {
  color: #f2f0e7;
  font-family: "Roboto", serif;
  font-size: 1.8rem;
}

.site-header {
  background: #141C1F;
  height: 70px;
  left: 0;
  padding: 6px 0;
  position: fixed;
  top: 0;
  transform: translateY(0);
  width: 100%;
  z-index: 2000;
}

.site-logo {
  position: absolute;
  left: 10px;
  top: -5px;
}

.site-nav {
  position: absolute;
  top: 35px;
  right: 0;
}
.site-nav .nav-parent ul {
  display: flex;
}
.site-nav .nav-parent ul li a {
  color: #f2f0e7;
  font-family: Roboto, serif;
  letter-spacing: 0.08em;
  margin: 0 15px;
  transition: ease 0.2s;
}
.site-nav .nav-parent ul li a:hover {
  border-bottom: 2px solid #0e9bac;
}

.imgBanner {
  background: url(../img/Hours.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  position: relative;
}
.header-title-p span {
  font-family: "Roboto";
  font-size: 0.9rem;
  letter-spacing: 0.08em;
}

.change .imgBanner {
  background-position: 60% 60%;
}

.imgBanner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 200;
  line-height: 1.5;
}

.destination-image {
  width: 250px;
}

.jerah-destination {
  background: url(../img/canvas-bg-light.jpg) repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.destinatin-jerah-content {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.destinatin-jerah-content p {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 20px;
  margin-top: 20px;
}
.destinatin-jerah-content h2 {
  font-family: Comforter Brush, serif;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 600;
}

.jerah-destination-image-content {
  z-index: 500;
  position: relative;
}
.jerah-destination-image-content::after {
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.4));
}

.jerah-destination-image {
  position: relative;
}
.jerah-destination-image .image-link::after {
  background: transparent;
  z-index: 100;
}

.jerah-destination-image-text {
  background: hsla(23deg, 11%, 63%, 0.6);
  width: 100%;
  padding: 20px 10px 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 500;
}
.jerah-destination-image-text p {
  font-size: 1.2rem;
  text-transform: none;
  margin-top: 5px;
}

.index-site-title {
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
  line-height: 1.5;
  font-size: 1.1rem;
  text-transform: none;
  font-weight: 400;
}

.header-maps {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header-maps .header-map {
  margin: 0 60px 0 0;
  cursor: pointer;
  position: relative;
  text-align: center;
  width: 100%;
}
.header-maps .header-map img {
  transition: all 0.15s ease-in-out;
}
.header-maps .header-map img:hover {
  scale: 1.1;
}
.header-maps .header-map:nth-child(3) {
  margin: 0;
}

.expert-slider {
  margin-top: 30px;
  display: flex;
}
.expert-slider .col-50 {
  width: 50%;
  display: flex;
  align-items: center;
  background: url(../img/canvas-bg-light.jpg);
}
.expert-slider .col-50 .slick-initialized .slick-slide {
  display: flex;
}
.expert-slider .col-50 .expert-content {
  justify-content: center;
  width: 50%;
  margin-left: 20px;
}
.expert-slider .col-50 .expert-content .expert-link-info {
  font-family: "Roboto";
  color: #0e9bac;
  font-size: 0.9rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.expert-photo {
  position: relative;
  width: 50%;
}
.expert-photo .expert-title {
  position: absolute;
  bottom: 15px;
  left: 20px;
  z-index: 200;
}
.expert-photo .expert-link-image::after {
  background: rgba(20, 28, 31, 0.35);
  z-index: 100;
}

.team-block {
  background: url(../img/Frame\ 10.jpg) no-repeat;
  background-size: cover;
  background-position: 50%;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
.team-block .team-content {
  margin: 0 auto;
}
.team-block .team-title-text {
  margin: 10px 0 20px 0;
  color: #f2f0e7;
  line-height: 1.3;
}
.team-block .btn-parent .btn:nth-child(1) {
  margin-bottom: 15px;
}

.footer {
  background: #141c1f;
  padding: 130px 0;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
.footer .footer-content {
  margin-top: -100px;
}
.footer .footer-content .footer-logo {
  width: 160px;
  height: 72px;
  margin-bottom: 20px;
}
.footer .footer-content ul {
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer .footer-content ul li {
  padding: 10px 15px;
}
.footer .footer-content ul li a {
  color: #8b8883;
  font-family: "Roboto", serif;
  letter-spacing: 0.08em;
  transition: all 0.15s ease-in-out;
}
.footer .footer-content ul li a:hover {
  color: #f2f0e7;
}
.footer .footer-content .social-icons .social-icon {
  height: 25px;
  width: 25px;
  margin: 10px 10px;
}
.footer .enot {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 230px;
}
.footer .cat {
  width: 70px;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (min-width: 250px) {
  .global-image-title-h1 {
    margin-bottom: 15px;
  }
  .adres .col-50 {
    width: 100%;
  }
  .input-50 {
    width: 100%;
  }
  .profile-content {
    padding: 20px;
  }
  .destination-content h3 {
    font-family: "Comforter Brush";
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
  }
  .region-experience .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  .region-experience .row .col-50 {
    width: 100%;
  }
  .region-experience .row .col-50:nth-child(1) {
    text-align: center;
  }
  .jerah-gallery-slider .gallery-btn {
    padding: 11px 25px 7px;
  }
  .sleep-hungry .sleep {
    margin: 0;
  }
  .sleep-hungry .sleep::before {
    display: inline-block;
    left: -5px;
    margin: 0 5px 0 0;
    position: relative;
    top: 20px;
  }
  .sleep-hungry .dining {
    margin: 0;
  }
  .sleep-hungry .dining::before {
    display: inline-block;
    margin: 0 5px 0 0;
    position: relative;
    top: 15px;
  }
  .sleep-hungry .brandon {
    font-size: 8px;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    margin: 30px 0 40px;
    padding: 0 10px;
    text-align: left;
    text-transform: uppercase;
    width: auto;
  }
  .jerah-travel-content-row {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .jerah-travel-content-row .col-50 {
    width: 100%;
  }
  .jerah-travel-content .image-div {
    width: 100%;
  }
  .col-row .col-50 {
    width: 100%;
  }
  .col-parent .col-50 {
    width: 100%;
  }
  .col-parent .col-50:nth-child(1) {
    padding: 60px 0;
  }
  .header-maps .header-map {
    width: auto;
    margin-bottom: 25px;
  }
}
@media (min-width: 500px) {
  .header-maps .header-map {
    width: 35%;
  }
  .header-maps .header-map:nth-child(3) {
    margin-top: 70px;
  }
  .sleep-hungry .sleep {
    margin-right: 30px;
  }
  .sleep-hungry .dining {
    margin-left: 30px;
  }
  .jerah-gallery-slider .gallery-btn {
    padding: 11px 40px 7px;
  }
  .experts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .expert-slider .col-50 {
    flex-direction: column;
  }
  .expert-slider .col-50 .expert-photo {
    width: 100%;
    margin-bottom: 20px;
  }
  .expert-slider .col-50 .expert-content {
    width: 100%;
    padding: 100px;
    text-align: center;
  }
  .expert-slider .col-50 .expert-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .expert-slider .col-50 .expert-content p {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .expert-slider .col-50 .expert-content a {
    font-size: 1.2rem;
  }
}
@media (min-width: 782px) {
  p {
    font-size: 1.3rem;
  }
  .destination-image {
    width: 300px;
  }
  .header-maps .header-map {
    padding: 20px;
    width: 15%;
  }
  .header-maps .header-map:nth-child(3) {
    margin-top: 0;
  }
  .team-content {
    width: 600px;
  }
  .about-container {
    max-width: 750px;
  }
  .imgBannerJerahTravel .imgBanner-content {
    padding: 20px 0;
    width: 600px;
  }
  .region-experience .row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .jerah-travel-content {
    max-width: 750px;
  }
  .jerah-travel-content .image-div {
    max-width: 720px;
  }
  .jerah-gallery-slider {
    height: auto;
    padding-bottom: 45%;
  }
  .contact-container {
    max-width: 720px;
    margin: 0 auto;
  }
  .contact-container .input-50 {
    width: 50%;
  }
  .contact-container .input-row {
    display: flex;
  }
  .experts-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .adres {
    display: flex;
  }
  .adres .col-50 {
    width: 50%;
  }
  .imgBanner {
    background-attachment: fixed;
  }
  .destination-image {
    width: 400px;
  }
  .team-content {
    width: 700px;
  }
  .about-container {
    max-width: 1000px;
  }
  .imgBannerJerahTravel .imgBanner-content {
    padding: 20px 0;
    width: 800px;
  }
  .jerah-travel-content {
    max-width: 1000px;
  }
  .jerah-travel-content-row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }
  .jerah-travel-content-row .col-50 {
    padding: 0 15px;
  }
  .jerah-travel-content .image-div {
    max-width: 455px;
  }
  .destination-col-parent {
    display: flex;
  }
  .destination-col-parent .col-50 {
    width: 50%;
    height: 500px;
  }
  .destination-col-parent .col-50:hover .destination-text-2 {
    opacity: 1;
    transform: translateY(0);
  }
  .destination-col-parent .col-50:hover .destination-btn .btn {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
  }
  .destination-col-parent .col-50 .destination-text-2 {
    opacity: 0;
    padding: 0 40px;
    transform: translateY(200%);
    transition: all 0.55s ease-in-out;
  }
  .destination-col-parent .col-50 .destination-btn .btn {
    opacity: 0;
    transform: translateY(350%);
    transition: all 0.55s ease-in-out;
  }
  .destination-content.left {
    width: 700px;
    left: 50%;
    margin-left: -350px;
  }
  .col-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .col-parent {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .col-parent .col-50 {
    width: 50%;
  }
  .col-parent .col-50:nth-child(1) {
    padding: 0px;
  }
  .experts-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .contact-container {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .about-container {
    max-width: 750px;
  }
  .jerah-travel-content .image-div {
    max-width: 545px;
  }
  .profile-content {
    padding: 40px 100px;
  }
}
@media (min-width: 500px) {
  .global-image-title-h1 {
    font-size: 3rem;
  }
  .header-title-p {
    font-size: 12px;
    font-size: 1.2rem;
    font-style: italic;
  }
}
@media (min-width: 782px) {
  .global-text-p {
    font-size: 1.3rem;
  }
  .nav-parent ul li a {
    font-size: 1rem;
  }
  .destinatin-jerah-content p {
    font-size: 1.3rem;
  }
  .destinatin-jerah-content h2 {
    font-size: 3rem;
  }
  .header-title-p {
    font-size: 2rem;
  }
  .destination-content h3 {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .global-image-title-h1 {
    font-size: 5rem;
  }
  .nav-parent ul li a {
    font-size: 1.1rem;
  }
}
@media (min-width: 1200px) {
  .global-image-title-h1 {
    font-size: 6rem;
  }
}
@font-face {
  font-family: "Comforter Brush";
  src: url("../fonts/Comforter_Brush/AnyConv.com__ComforterBrush-Regular.woff"), url("../fonts/Comforter_Brush/AnyConv.com__ComforterBrush-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bona Nova";
  src: url(../fonts/Bona-Nova/AnyConv.com__BonaNova-Regular.woff), url(../fonts/Bona-Nova/AnyConv.com__BonaNova-Regular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bona Nova";
  src: url(../fonts/Bona-Nova/AnyConv.com__BonaNova-Regular.woff), url(../fonts/Bona-Nova/AnyConv.com__BonaNova-Regular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bona Nova";
  src: url(../fonts/Bona-Nova/AnyConv.com__BonaNova-Italic.woff), url(../fonts/Bona-Nova/AnyConv.com__BonaNova-Italic.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bona Nova";
  src: url(../fonts/Bona-Nova/AnyConv.com__BonaNova-Bold.woff), url(../fonts/Bona-Nova/AnyConv.com__BonaNova-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/AnyConv.com__Roboto-Black.woff), url(../fonts/Roboto/AnyConv.com__Roboto-Black.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/AnyConv.com__Roboto-Bold.woff), url(../fonts/Roboto/AnyConv.com__Roboto-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/AnyConv.com__Roboto-Medium.woff), url(../fonts/Roboto/AnyConv.com__Roboto-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/AnyConv.com__Roboto-MediumItalic.woff), url(../fonts/Roboto/AnyConv.com__Roboto-MediumItalic.woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/AnyConv.com__Roboto-Regular.woff), url(../fonts/Roboto/AnyConv.com__Roboto-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.imgBannerAbout {
  background: url(../img/about-us-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  margin-bottom: 30px;
}
.imgBannerWhy {
  background: url(../img/why-us-bk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  margin-bottom: 30px;
}
.imgBannerJerahTravel {
  background: url(../img/jerah-travel-bi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  margin-bottom: 30px;
}
.about-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.about-container .text-about {
  margin-bottom: 40px;
  line-height: 1.5;
}
.about-container .title-about {
  font-family: "Roboto";
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 1.5rem;
}
.about-container .about-link {
  background: #bebbb7;
  color: #141c1f;
  padding: 0 3px;
  transition: all 0.35s ease-in-out;
}
.about-container .about-link:hover {
  background: #8b8883;
}
.about-container .text-left {
  text-align: left;
}

.imgBannerDestination {
  background: url(../img/destination-bi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  margin-bottom: 30px;
}
#nazran {
  background: url(../img/Nazran-and-Magas.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#malgobek {
  background: url(../img/Malgobek.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.col-100 {
  margin-top: 30px;
  width: 100%;
  height: 500px;
}
.col-100 .destination-jerah-bi {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/jerah-travel-bi.jpg) no-repeat;
  background-position: 50%;
  background-size: cover;
}
.col-100 h3 {
  margin-top: 10px;
}

.header-title-p {
  padding: 0 20px;
}

.destination-content {
  z-index: 500;
  color: #f2f0e7;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.destination-content .destination-text {
  font-family: "Roboto";
  margin: 10px 0 30px 0;
  font-style: italic;
}
.destination-content .destination-text-2 {
  margin-bottom: 20px;
}

.destination-col-parent .col-50 {
  width: 100%;
  height: 500px;
}
.destination-col-parent .col-50 .destination-jerah-bi {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/jerah-travel-bi.jpg) no-repeat;
  background-position: 50%;
  background-size: cover;
}
.slick-prev {
  z-index: 50;
}

.slick-next {
  z-index: 50;
}

.imgBannerJerahTravel {
  display: flex;
  justify-content: center;
}
.imgBannerJerahTravel .imgBanner-content {
  color: #f2f2f2;
  margin: 0 auto;
}
.imgBannerJerahTravel .imgBanner-content .jerah-title {
  font-family: "Roboto";
  margin-bottom: 20px;
}
.imgBannerJerahTravel .imgBanner-content .jerah-title span {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.imgBannerJerahTravel .imgBanner-content .jerah-title h1 {
  font-size: 2rem;
  line-height: 1.5;
  margin: 10px 0 10px 0;
}
.imgBannerJerahTravel .imgBanner-content .jerah-title p {
  font-family: "Bona Nova";
  font-style: italic;
}
.imgBannerJerahTravel .imgBanner-content .jerah-info {
  line-height: 1.5;
}

.region-experience {
  background: url(../img/canvas-bg-light.jpg);
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
.region-experience .row .col-50:nth-child(1) img {
  max-width: 450px;
}
.region-experience .row .jerah-location-content h3 {
  font-family: "Comforter Brush";
  font-size: 2rem;
  margin-bottom: 10px;
}
.region-experience .row .jerah-location-content h4 {
  letter-spacing: 0.08em;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0;
}
.region-experience .row .jerah-location-content ul {
  margin: 0 0 30px 40px;
}
.region-experience .row .jerah-location-content ul li {
  font-size: 1.3rem;
  margin: 15px 0;
}
.region-experience .row .jerah-location-content ul li::before {
  content: "-";
  left: -5px;
  position: relative;
}

.jerah-inspiration-title {
  margin: 60px 0;
  text-align: center;
}
.jerah-inspiration-title p {
  margin: 0 auto;
  max-width: 970px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto";
}

.line-title {
  margin: 100px 0;
  position: relative;
  text-align: center;
  width: 100%;
}
.line-title::before {
  left: 0;
  border: 1px solid #8b8883;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
}
.line-title::after {
  right: 0;
  border: 1px solid #8b8883;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
}
.line-title h2 {
  font-family: "Roboto";
  background: #fff;
  letter-spacing: 0.08em;
  margin: 0 auto;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  top: 3px;
  width: 100px;
  z-index: 500;
}
.line-title .line-title-h2 {
  width: 120px;
}

.header-title {
  font-weight: 400;
  font-family: "Roboto";
}

.row-big {
  max-width: 1200px;
}

.solo-p {
  margin: 0 auto;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 30px;
  max-width: 1000px;
}

.jerah-travel-content {
  padding: 0 20px;
  margin: 0 auto;
  font-weight: 400;
  font-family: "Roboto";
}
.jerah-travel-content .jerah-travel-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}
.jerah-travel-content p {
  text-align: center;
  margin-bottom: 30px;
}
.jerah-travel-content .image-div {
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
}
.jerah-travel-content .jerah-travel-content-row .col-50 {
  margin-top: 20px;
}

.sleep-hungry {
  text-align: center;
}
.sleep-hungry .brandon {
  display: inline-block;
  font-size: 7px;
  font-size: 0.8rem;
  text-align: center;
}
.sleep-hungry .sleep::before {
  content: "";
  height: 45px;
  width: 45px;
  text-align: center;
  background: url("../img/sleep.png") no-repeat;
}
.sleep-hungry .dining::before {
  content: "";
  height: 50px;
  width: 45px;
  text-align: center;
  background: url("../img/hungry.png") no-repeat;
}

.jerah-gallery-slider-parent {
  margin-bottom: 30px;
}
.jerah-gallery-slider-parent .jerah-gallery-slider {
  background: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-image: url(../img/Armhi-hotel.jpg);
  height: 500px;
  overflow: hidden;
  position: relative;
}
#mago {
  background: url(../img/mago-gallery-slide.jpg) no-repeat;
  background-position: 50%;
  background-size: cover;
}

#targim {
  background: url(../img/targim.jpg) no-repeat;
  background-position: 50%;
  background-size: cover;
}

#agical {
  background: url(../img/agical.jpg) no-repeat;
  background-position: 50%;
  background-size: cover;
}

#jerah {
  background: url(../img/jerah-slide-bi.jpg) no-repeat;
  background-position: 50%;
  background-size: cover;
}

.slider-box {
  display: none;
  position: absolute;
  z-index: 999;
  width: 100%;
  max-width: 650px;
  left: 50%;
  top: 40%;
  transform: translate(-50%);
}
.slider-box .img-box {
  background: #8b8883;
  height: 445px;
}

.image-view {
  display: none;
  z-index: 901;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.container-profile .col-row {
  margin-top: 120px;
  background: #142127;
}
.container-profile .col-row .col-50 .profile-content .expert-name {
  color: #f2f0e7;
  font-family: Roboto;
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: 0.15em;
  line-height: 1.2;
  text-transform: uppercase;
}
.container-profile .col-row .col-50 .profile-content .expert-profession {
  color: #bebbb7;
  font-style: italic;
  margin-bottom: 20px;
}
.container-profile .col-row .col-50 .profile-content .mail {
  margin-bottom: 20px;
  width: 25px;
  height: 25px;
}
.container-profile .col-row .col-50 .profile-content .blue-text {
  margin: 20px 0 40px;
  font-size: 0.9em;
  letter-spacing: 0.08em;
  font-weight: 600;
}
.container-profile .col-row .col-50 .profile-content .quote {
  font-size: 1.5rem;
  color: #f2f0e7;
  font-style: italic;
}
.container-profile .col-row .col-50 .profile-content .quote span {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
}
.container-profile .profile-slider {
  margin-top: -4px;
}
.container-profile .profile-slider .col-25 {
  width: 25%;
  height: auto;
}

.profile-info-content {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 0 20px;
}
.profile-info-content .profile-info-title {
  font-family: "Roboto";
  font-size: 2.2rem;
  margin-bottom: 10px;
}
.profile-info-content .profile-info-title-2 {
  font-family: "Roboto";
  font-size: 1.5rem;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
}
.profile-info-content p {
  margin-bottom: 30px;
}

.adres {
  margin-top: 70px;
}
.adres .col-50 {
  padding: 60px 0;
}
.adres .col-50 .geo {
  width: 35px;
  height: 57px;
  margin-bottom: 20px;
}
.adres .col-50 .phone {
  width: 60px;
  height: 39px;
  margin-bottom: 20px;
}
.adres .col-50.light-bk {
  background: url(../img/canvas-bg-light.jpg);
}
.adres .col-50.dark-bk {
  background: url(../img/canvas-dk-bg.jpg);
}
.adres .col-50 .adres-info {
  text-align: center;
}
.adres .col-50 .adres-info p {
  font-family: "Roboto";
}
.adres .col-50 .adres-info p span {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.adres .col-50 .adres-info .contact-adres-title {
  font-family: "Roboto";
  font-size: 1.5rem;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.contact-container .contact-title {
  letter-spacing: 0.08em;
  font-family: "Roboto";
  font-size: 2.2rem;
  margin: 60px 0;
}
.contact-container .input-parent {
  padding: 0 20px;
}
.contact-container .input-parent .input-child {
  padding-right: 16px;
  margin-bottom: 30px;
}
.contact-container .input-parent .input-child label {
  font-family: "Roboto";
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.contact-container .input-parent .input-child input {
  margin-top: 5px;
  padding: 5px 4px;
  width: 100%;
}
.contact-container .input-parent .input-child.input-100 {
  width: 100%;
}
.contact-container .input-parent .input-child .user-text {
  margin-top: 5px;
}
.contact-container .input-parent .input-child .user-text textarea {
  height: 90px;
  width: 100%;
  padding: 6px 8px;
  line-height: 1.5;
  font-size: 17px !important;
  resize: none;
}
.contact-container .input-parent .input-child .user-text .big-height-suer-text {
  height: 180px;
}
.contact-container .input-parent .select {
  margin-top: 5px;
  position: relative;
  margin-bottom: 30px;
}
.contact-container .input-parent .select select {
  padding: 0.75rem 1rem;
  background: none;
  width: 100%;
  border: 1px solid #141C1F;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  font-family: "Roboto";
  font-size: 0.9em;
  color: #141C1F;
}
.contact-container .input-parent .select::after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #141C1F transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  pointer-events: none;
}
.contact-container .input-parent h5 {
  font-size: 0.9em;
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: 30px;
}
.contact-container .input-parent button {
  width: 100%;
  background: #0e9bac;
  border-color: #0e9bac;
  color: #f2f0e7;
  margin-bottom: 30px;
}
.contact-container .input-parent button:hover {
  opacity: 0.7;
}

.imgBannerExperts {
  background: url(https://oir.mobi/uploads/posts/2021-06/thumbs/1623459958_49-oir_mobi-p-koster-na-beregu-reki-priroda-krasivo-foto-56.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  margin-bottom: 30px;
}
.col-25 {
  width: 100%;
}

.experts-container {
  margin-top: 70px;
}
.experts-container .expert-photo {
  width: 100%;
}